{
    "presets": [
        [
            "@babel/preset-env",
            {
                "debug": true,
                "targets": {
                    "browsers": [
                        "> 0.15%",
                        "safari >= 7"
                    ]
                }
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": false
            }
        ]
    ]
}