
@media(min-width:1000px){
  .navbar-toggler{ display:none;}
  .navbar-nav-mobile{ display:none;}

}

@media(min-width:767px) {
.mbile.log-in-btn{ display:none;}
/* .join-mobile{ display:none;} */

}

@media(max-width:1000px) {
    .navbar-collapse{ display:none !important;}
  .navbar-mobile{
    overflow: auto;
  }
  .navbar-nav .nav-link {
    padding: 12px 15px;
    font-size: 10px;
  }
  .navbar-nav-mobile {
    width: 900px;
    margin-left: 52px;
    /* overflow: scroll; */
  }
  .responsive-v {
    display: none;
  }
  .side-bar {
    display: none;
  }
  .navbar-toggler-icon {
    width: 25px;
    height: 2px;
    background: #fff;
    display: block;
    margin-bottom: 6px;
  }
  .responsive-cat .navbar-toggler-icon {
    height: 2px;
    background: #ccc;
  }
  .header-search {
    display: none;
  }
  .mobile-menu .navbar-nav {
    -ms-flex-direction: column;
    /* flex-direction: column; */
    flex-direction: column;
  }
  .mobile-menu {
    display: none;
    /* background: #072443; */
    position: fixed;
    top: 0;
    z-index: 99;
    width: 86%;
    /* padding-bottom: 30px; */
    /* padding-left: 10px; */
  }
  .responsive-menu .navbar-toggler-icon {
    width: 18px;
    padding: 0;
  }
  .join,
  .log-in-btn {
      font-size: 11px;
    padding-left: 7px;
    padding-right: 10px;
    float: left;
    margin-right: 5px;
  }
  .header-top .navbar-toggler {
    position: absolute;
    left: 0;
    top: 0px;
  }
  .mobile-menu.trnslteY {
    transform: translateX(0px);
  }
  .mobile-menu .logo {
    /* border-bottom: 1px solid #777; */
    width: 100%;
  }
  .mobile-menu .navbar-nav a {
    padding: 10px 15px;
    font-size: 14px;
  }
  .mobile-menu .nav-item.active {
    border: none;
    border-left: 3px solid #d9e027;
  }
  .navbar-mobile .nav-item.active {
    border: none;
  }
  /* .navbar-nav .nav-item:hover {
    border: none;
  } */
  .fabrt-d{
    display:none;
  }
  
.navbar-mobile .navbar-nav i {
    
       left: inherit;
    display: block;
    font-size: 19px;
    text-align: center;
    margin-bottom: 7px;
}
}

@media(max-width:767px) {
  /* .join{ display:none;} */
  .email-d {
    display: none;
  }
  
  .frgt-pswrd{display:none;}
  .pswd-d {
    display: none;
  }
  .logo {
    /* padding-top: 0; */
    display: inline-block;
    position: relative;
    left: 28px;
  }
  .footer-inner {
    width: 47%;
    margin-bottom: 20px;
  }
  .table-list li:nth-child(1) {
    width: 150px;
  }
  .table-list-top li:nth-child(1) {
    width: 200px;
  }
  /* .table-list li:nth-child(n+3) {
    display: none;
  } */
  /* .nav.nav-tabs {
    display: none;
  } */
  .flex-wr{
    
    flex-wrap: wrap;
    }
  .footer-heading {
    font-size: 16px;
    margin-bottom: 3px;
    color: rgb(52, 59, 72);
   }
  
  footer {
    padding: 30px 0;
    position: relative;
    background: #e8ecf3;
  }
}