.react-switch-checkbox {
    height: 0;
    width: 0;
    position: absolute;
    visibility: hidden;
}

.react-switch {
    cursor: pointer;
    width: 100px;
    height: 20px;
    border-radius: 10px;
    background: #fff;
    position: relative;
    transition: background-color 0.2s;
    margin-bottom: 0;
    margin-left: 0.5rem;
}

.react-switch .react-switch-button {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 50px;
    border-radius: 10px;
    height: 20px;
    transition: 0.2s;
    background: #ED254E;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked+.react-switch-button {
    left: calc(100%);
    transform: translateX(-100%);
}

.react-switch-checkbox:active+.react-switch-button {
    width: 50px;
}

.react-switch-labels {
    display: relative;
    z-index: 2;
    height: 100%;
    font: 10pt "Segoe UI", Verdana, sans-serif;
}

.react-switch-labels span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.react-switch.on .react-switch-labels span:first-child,
.react-switch.off .react-switch-labels span:last-child {
    color: #ED254E;
}

.react-switch.off .react-switch-labels span:first-child,
.react-switch.on .react-switch-labels span:last-child {
    color: #FFF;
}

.react-switch-labels span:first-child {
    left: 0;
}

.react-switch-labels span:last-child {
    right: 0;
}